/* Centering navbar items on large devices */
@media (min-width: 992px) {
    .navbar-nav {
        margin-left: auto;
        margin-right: auto;
    }
    
    
}



/*for medium devces*/
@media (min-width: 768px) and (max-width: 992px) {
    .section3 .card-title{
        font-size: 15px;
        margin-top: 5px;
    }

    .section3 .card-text{
        font-size: 12px;

    }

    .section3 .card{
        width: 230px;
    }

    .aboutus-image{
        margin-left: 150px;
        margin-right: 150px;
    }

    .navbar-brand svg {
        width: 300px; /* Adjust the width as needed */
        height: 80px; /* Adjust the height as needed */
    
    }

    .brand-container {
        top: -10px; /* Adjust this value as needed */
        left: 4.7%; /* Adjust this value as needed */
        height: 70px;
        width: 70px;
    }

    .services-banner p:nth-of-type(1){
        font-size: 30px;
        font-weight: 700;
        margin-left: 30px;
    }
    
    .services-banner p:nth-of-type(2){
        font-size: 16px;
        margin-left: 30px !important;
    }

    .aboutus-section p{
        margin-right: 100px !important;
        margin-left:100px !important;
        font-size:16px;
    }

    .aboutus-image{
        margin-left: 30px;
        margin-right: 30px;
    }


}

/*small devices*/
@media (max-width: 500px){
    .section3 .card-title{
        font-size: 18px;
        margin-top: 5px;
    }

    .section3 .card-text{
        font-size: 15px;
    }

    .section3 .card{
        height: 200px !important;
    }

    .section-heading h3{
        font-size: 16px;
        word-spacing: -2px;
    }
    
    .section1-text {
        margin-left: 25px;
        margin-right: 25px;

    }
    
    .section1-text p {
        text-align: justify; /* Justify the text within the paragraph */
        font-size: 14px;
        line-height: 1.8;
    }

    .aboutus-container .card{
        width: 200px;
        height:180px !important;
    }

    .services-banner p:nth-of-type(1){
        font-size: 35px !important;
        text-align: center;
        margin-left: 0;
    }

    .services-banner p:nth-of-type(2){
        font-size: 17px;
        text-align: center;
        line-height: 1.7em;
    }

    .service_contents img{
        width: 40px; 
        height: 40px;
    }
    .service_contents{
        gap: 20px;
        
    }

    .service_contents p{
        font-size: 12px !important;
    }

    .assignment_help img{
       width: 437px !important;
    }


    
}


/* Adjust navbar brand alignment for small and medium devices */
@media (max-width: 991px){
    .navbar-brand {
        margin-left: 0;
    }
    .navbar-nav {
        margin-left: 0;
        margin-right: 0;
    }

    .navbar-bottom{
        padding-bottom: 13px;
    }
    
}




/* Adjust navbar items alignment for small and medium devices */
@media (max-width: 768px) {
    .navbar-nav {
        text-align: left;
        flex-direction: column;
    }
    .banner img {
        height: 870px !important;
    }
    .banner-text{
        padding-left:20px !important;
        padding-right:20px !important;
    }
    .banner-text h1{
    
        font-size: 40px;
        margin-top: 250px !important;
        text-align: center;
    }
    
    .banner-text h2{
        font-size: 25px;
        text-align: center;

    }

    .banner-text p{
        font-size: 18px;
        text-align: justify;
        padding-left:20px;
        padding-right:20px;

    }
    
    .banner-content {
        padding-bottom: 80px !important;
        background-color: rgba(35, 37, 35, 0.9);
        max-width: 1200px !important;
    }
    

    .dropdown-menu{
        width:100% !important;
        padding-bottom: 0px !important;
        padding-top: 0px !important;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for better visibility */
    }


    .pricing-calculator{
        margin-top:10px !important;
        background-color: rgba(15,57,55, 0.8);
    }

    .navbar-brand svg {
        overflow: visible;
        height: 80px; /* Adjust the height as needed */
    
    }

    .brand-container {
        top: 0; /* Adjust this value as needed */
        left: 8%; /* Adjust this value as needed */
        width: 70px;
        height: 70px;
    }

    .navtop::before{
        
        
        background-color: rgba(35, 37, 35, 1); /* Green background with 80% opacity */
    }

    .bg-cus{
        background-color: rgba(35, 37, 35, 0.8);
    }    

    .container-expert p{
        margin-left: 20px;
        margin-right: 20px;
        font-size: 15px;
    }
    
    .card img {
        border-radius: 50%;
        width: 70px;
        height: 70px !important;
        margin-top:-10px;
        
    }
    .card-title {
        font-size: 15px;
        margin-top: 45px;
    }
    .card-text {
        font-size: 12px;
    }

    .carousel-container .card {
        margin: 10px;
        padding: 20px;
        height: 170px !important;
        width: 150px;
    }

    .aboutus-image{
        margin-left: -29px;
        margin-right: -29px;
    }

    .aboutus-section p{
        margin-right: 50px;
        margin-left:50px;
    }


    
    .service_container .col-md-4{
        margin-top:10px;
    }

    .navbar-brand svg {
        width: 300px; /* Adjust the width as needed */
        height: 70px; /* Adjust the height as needed */
    
    }

    .brand-container {
        top: -7px; /* Adjust this value as needed */
        left: 7.7%; /* Adjust this value as needed */
    }

    .aboutus-banner img{
        height: 200px;
        margin-top: 85px;
        width: 100%;
    }

    .bg-cus{
        background-color: rgba(35, 37, 35, 1.0);
    }

    .aboutus-banner-content{
        text-align: text-center !important;
        left: 35%;
        top: 55%;
    } 
}



