{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="aboutus-banner">
    <img src="{{ MEDIA_URL }}/media/images/about-us.png" class="img-fluid aboutus-banner" alt="Banner" style="position: relative">
    <div class="aboutus-banner-content" style="position:absolute">
       <p class="text-white">ABOUT US</p>
    </div>
</div>
<div class="aboutus-section">
    <p>Urban Research Writing Services is 
       your trusted partner that achieve academic 
       excellence. We specialize in providing 
       high-quality, custom-written research papers, 
       assignments, and projects tailored to meet 
       your specific academic needs. Our mission is 
       to help students excel by delivering expertly 
       crafted academic writing that meets the highest 
       standards.</p>
</div>

<div class="aboutus-image mt-5">
    <div class="row text-center mx-6 mx-5">
        <div class="col-6 col-md-6 col-lg-6">
           <div class="aboutus-img1 mb-3">
              <img src="{{ MEDIA_URL }}/media/images/image1.png" class="img-fluid" alt="image1">
           </div>
           <div class="aboutus-img2">
            <img src="{{ MEDIA_URL }}/media/images/image2.png" class="img-fluid" alt="image2">
           </div>
        </div>
        <div class="col-6 col-md-6 col-lg-6">
            <div class="aboutus-img3">
                <img src="{{ MEDIA_URL }}/media/images/image3.png" class="img-fluid" alt="image3">
            </div>
        </div>
    </div>
</div>

<div class="section-heading mt-5">
    <h1>Who We Are</h1>
    <div class="fancy-lines">
        <div class="line"></div>
        <div class="round"></div>
        <div class="round"></div>
        <div class="line"></div>
    </div>
</div>
<div class="aboutus-section">
    <p>Urban Research Writing Services is a dedicated team of 
        experienced academic writers, researchers, and editors. 
        Our diverse team includes experts from various academic fields, 
        ensuring that we can handle assignments across a wide range of subjects 
        and academic levels. Our commitment to excellence drives us to 
        deliver superior quality work, helping students reach 
        their academic goals.</p>
</div>
<div class="section-heading mt-5">
    <h1>What We Do</h1>
    <div class="fancy-lines">
        <div class="line"></div>
        <div class="round"></div>
        <div class="round"></div>
        <div class="line"></div>
    </div>
</div>
<div class="aboutus-section">
    <p>We offer a comprehensive range of academic writing services 
        designed to support students at every stage of their education:</p>
    <ul>
        <li>
            <p><span style="font-weight: bold;">Research Papers:</span> Our writers produce in-depth, thoroughly researched papers that adhere to academic standards and specific guidelines provided by you.</p>
        </li>
        <li>
            <p><span style="font-weight: bold;">Assignments:</span> We complete homework assignments and coursework with precision, ensuring they meet all your requirements and deadlines.</p>
        </li>
        <li>
            <p><span style="font-weight: bold;">Projects:</span> From detailed academic projects to complex theses and dissertations, we provide structured and well-researched content.</p>
        </li>
        <li>
            <p><span style="font-weight: bold;">Editing and Proofreading:</span> Our team enhances the quality of your existing work through meticulous editing and proofreading, ensuring clarity and correctness.</p>
        </li>
        <li>
            <p><span style="font-weight: bold;">Custom Writing: </span> Custom Writing: Whether you need essays, case studies, or reports, we provide tailored writing services to meet your unique academic needs.</p>
        </li>
    </ul>
</div>

<div class="section-heading mt-5">
    <h1>Our Approach</h1>
    <div class="fancy-lines">
        <div class="line"></div>
        <div class="round"></div>
        <div class="round"></div>
        <div class="line"></div>
    </div>
</div>

<div class="aboutus-section">
    <p>Our approach is centered on quality, originality, and customer satisfaction. We guarantee that every piece of work we deliver is:</p>
    <ul>
        <li>
            <p><span style="font-weight: bold;">Original:</span> All our work is written from scratch, ensuring 100% originality and adherence to academic integrity standards. We use plagiarism detection tools to ensure the uniqueness of every paper.</p>
        </li>
        <li>
            <p><span style="font-weight: bold;">Thoroughly Researched:</span> Our writers use reliable sources and data to provide accurate and comprehensive research, ensuring your work stands out academically.

            </p>
        </li>
        <li>
            <p><span style="font-weight: bold;">Customized: </span> Each assignment is tailored to meet the specific requirements and guidelines provided by you, ensuring relevance and precision.</p>
        </li>
        <li>
            <p><span style="font-weight: bold;">On-Time Delivery:</span> We understand the importance of deadlines and guarantee timely delivery of all assignments. You can trust us to deliver your work on or before the due date.</p>
        </li>
    </ul>
</div>

<div class="section-heading mt-5">
    <h1>Our Process</h1>
    <div class="fancy-lines">
        <div class="line"></div>
        <div class="round"></div>
        <div class="round"></div>
        <div class="line"></div>
    </div>
</div>
<div class="aboutus-section">
    <p>Our streamlined process ensures a hassle-free experience for our clients:</p>
    <ul>
        <li>
            <p><span style="font-weight: bold;">Order Placement:</span> Submit your assignment details, requirements, and deadlines through our user-friendly order form. Our customer support team is always ready to assist you with any questions.</p>
        </li>
        <li>
            <p><span style="font-weight: bold;">Writer Assignment:</span> We match your order with a writer who has expertise in the relevant subject area, ensuring the highest quality of work.</p>
        </li>
        <li>
            <p><span style="font-weight: bold;">Review and Revision:</span> The completed paper is reviewed for quality and accuracy. We offer free revisions to ensure it meets your expectations and requirements.</p>
        </li>
        <li>
            <p><span style="font-weight: bold;">Delivery: </span> The final paper is delivered to you on or before the deadline, ready for submission.</p>
        </li>
    </ul>
</div>

<div class="section-heading mt-5">
    <h1>Our Team</h1>
    <div class="fancy-lines">
        <div class="line"></div>
        <div class="round"></div>
        <div class="round"></div>
        <div class="line"></div>
    </div>
</div>

<div class="aboutus-container mx-auto mt-2">
    <div class="row justify-content-center mb-3">
        <div class="col-lg-3 col-md-3 col-sm-6 col-6 pb-3">
            <div class="card text-center team-card">
                <div class="team">
                    <img src="{% static '/expert/ceo.png' %}" height="170px" width="170px"/>
                </div>
                <div class="team-text">
                    <p>Alex Brown</p>
                    <p>CEO</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
            <div class="card text-center team-card">
                <div class="team">
                    <img src="{% static '/expert/senior_researcher.png' %}" height="170px" width="170px"/>
                </div>
                <div class="team-text">
                    <p>Davies Walker</p>
                    <p>Senior Researcher</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
            <div class="card text-center team-card">
                <div class="team">
                    <img src="{% static '/expert/research_assistant.png' %}" height="170px" width="170px"/>
                </div>
                <div class="team-text">
                    <p>Stella Tina</p>
                    <p>Research Assistant</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
            <div class="card text-center team-card">
                <div class="team">
                    <img src="{% static '/expert/lead_writer.png' %}" height="170px" width="170px"/>
                </div>
                <div class="team-text">
                    <p>Henry Austin</p>
                    <p>Lead Writer</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-3 col-sm-6 col-6 pb-3">
            <div class="card text-center team-card">
                <div class="team">
                    <img src="{% static '/expert/senior_editor.png' %}" height="170px" width="170px"/>
                </div>
                <div class="team-text">
                    <p>Michael Brown</p>
                    <p>Senior Editor</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
            <div class="card text-center team-card">
                <div class="team">
                    <img src="{% static '/expert/customer_support.png' %}" height="170px" width="170px"/>
                </div>
                <div class="team-text">
                    <p>Alice Taylor</p>
                    <p>Customer Support</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
            <div class="card text-center team-card">
                <div class="team">
                    <img src="{% static '/expert/data_analyst.png' %}" height="170px" width="170px"/>
                </div>
                <div class="team-text">
                    <p>Daniel Ogana</p>
                    <p>Data Analyst</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
            <div class="card text-center team-card">
                <div class="team">
                    <img src="{% static '/expert/quality_assurance.png' %}" height="170px" width="170px"/>
                </div>
                <div class="team-text">
                    <p>Queen Austin</p>
                    <p>Quality Assurance</p>
                </div>
            </div>
        </div>
    </div>
</div>
 {% endblock %}
