{% extends 'base.html' %}

{% block content %}s
{% load static %}
<div class="services-banner">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12 col-12">
             <div class="services_banner_p1">
                <p>Your <span style="  background-color: #1fa59e; border-radius: 10px;">One-Click Hub</span><br> for Every Assignment,<br> Any Subject</p>
             </div>
             <div class="services_banner_p2">
                <p class="mx-5">Get expert research assistance with just one click! Whatever the subject or project, we make it easy and straightforward to receive professional help.</p>
             </div>
             <div class="flex-container assignment_assistance_icon text-center d-flex justify-content-center">
                <div>
                    <image src="{% static 'icons/artificial-intelligence.png' %}"/>
                    <p class="text-dark">AI-free<br> content</p>
                </div>
                <div>
                    <image src="{% static 'icons/documents.png' %}"/>
                    <p class="text-dark">Plagiarism<br> free</p>
                </div>
                <div>
                    <image src="{% static 'icons/transaction.png' %}"/>
                    <p class="text-dark">Money-back<br> guarantee</p>
                </div>
                <div>
                    <image src="{% static 'icons/high-quality.png' %}"/>
                    <p class="text-dark">High<br> quality</p>
                </div>
                <div>
                    <image src="{% static 'icons/atm-card.png' %}"/>
                    <p class="text-dark">Safe & easy<br> payment</p>
                </div>
            </div>
        </div>   
            
        <div class="col-md-6 d-none d-md-block myservice-banner">
            <img src="{{ MEDIA_URL }}/media/images/service_banner.png" class="img-fluid aboutus-banner" alt="Banner">
        </div>
    </div>
</div>
<div class="academic_coursework_container mx-5 mt-5">
    <div class="row myservices_row mt-3">
            <div class="col-md-8">
                <p>
                    Our academic coursework assistance covers all subjects and types of assignments, 
                    providing expert support to help you excel in your studies. We offer comprehensive 
                    help with essay writing, research papers, case studies, lab reports, presentations, 
                    book reviews, and more. Our experienced professionals ensure high-quality, 
                    original work tailored to your needs. We also facilitate effective collaboration on 
                    group assignments and create engaging discussion posts. With rigorous review 
                    processes and timely delivery, we guarantee your academic success. 
                    Trust us to handle your coursework with the utmost privacy and precision.
                </p>

                    <div class="coursework_help mx-4 mt-4 pr-5">
                        <img src="{{ MEDIA_URL }}/media/images/coursework.png" alt="24/7" style="width:100%;">
                    </div>
               
                <h2 class="mt-5">Why Choose Us?</h2>
                <ul>
                    <li><p><strong>Expert Guidance: </strong>Our team consists of experienced professionals who provide tailored support for all types of assignments</p></li>
                    <li><p><strong>Comprehensive Assistance: </strong> We cover a wide range of subjects and assignment types</p></li>
                    <li><p><strong>Quality Assurance: </strong> Rigorous review processes ensure high-quality, accurate, and original work</p></li>
                    <li><p><strong>Personalized Support: </strong>We understand your unique academic needs and provide customized solutions</p></li>
                    <li><p><strong>Timely Delivery: </strong>We adhere to deadlines, ensuring you meet all your academic milestones</p></li>
                    <li><p><strong>Confidentiality: </strong>our assignments and data are handled with the utmost privacy and security.</p></li>
                </ul>

                <h2 class="mt-5">Types of Coursework we can Help With</h2>
                <ul>
                    <li><p><strong>Essay Writing: </strong>Crafting well-structured and coherent essays</p></li>
                    <li><p><strong>Research Papers: </strong>Conducting thorough research and presenting findings</p></li>
                    <li><p><strong>Case Studies: </strong>Analyzing real-world scenarios with in-depth insight</p></li>
                    <li><p><strong>Lab Reports: </strong>Documenting experiments and results accurately</p></li>
                    <li><p><strong>Presentations: </strong>Creating engaging and informative presentations</p></li>
                    <li><p><strong>Book Reviews:</strong>Writing critical analyses of literary works</p></li>
                    <li><p><strong>Annotated Bibliographies: </strong>Compiling and summarizing relevant sources</p></li>
                    <li><p><strong>Course Projects: </strong>Assisting with comprehensive course-related projects</p></li>
                    <li><p><strong>Group Assignments: </strong>Facilitating effective collaboration and quality output</p></li>
                    <li><p><strong>Discussion Posts: </strong>Crafting thoughtful and engaging discussion contributions</p></li>

                </ul>
                 <h2 class="mt-5">What We Need from You</h2>
                 <ul>
                    <li><p><strong>Clear Instructions: </strong>Provide detailed requirements, including objectives, preferred style, and specific guidelines</p></li>
                    <li><p><strong>Relevant Materials: </strong>Share any reference documents, examples, or sources that should be included or considered</p></li>
                    <li><p><strong>Deadlines: </strong>Specify the timeline for the project to ensure timely delivery</p></li>
                    <li><p><strong>Feedback: </strong>Communicate any changes or revisions needed during the process for the best possible outcome</p></li>
                    <li><p><strong>Confidentiality: </strong>Rest assured that all shared information is kept private and secure</p></li>   
                </ul>
            </div>
            <div class="col-md-4">
                <div class="pricing-calculator mb-5" style=" background-color: rgba(15,57,55, 1.0) !important;">
                <h3>Calculate Your Price</h3>
                <form id="pricingForm">
                    <div class="form-group">
                        <label for="serviceType">Service Type</label>
                        <select class="form-control" id="serviceType" required>
                            <option value="Essay">Essay</option>
                            <option value="Admissions Essay">Admissions Essay</option>
                            <option value="PowerPoint Presentation">PowerPoint Presentation</option>
                            <option value="Research Paper">Research Paper</option>
                            <option value="Assignment">Assignment</option>
                            <option value="Speech">Speech</option>
                            <option value="Book Reviews">Book Reviews</option>
                            <option value="Coursework">Coursework</option>
                            <option value="Personal Statement">Personal Statement</option>
                            <option value="Dissertation">Dissertation</option>
                            <option value="Psychology">Psychology</option>
                            <option value="Literature">Literature</option>
                            <option value="Sociology">Sociology</option>
                            <option value="Math">Math</option>
                            <option value="Statistics">Statistics</option>
                            <option value="Physics">Physics</option>
                            <option value="English">English</option>
                            <option value="Spanish">Spanish</option>
                            <option value="Accounting">Accounting</option>
                            <option value="Economics">Economics</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="numPages">Number of Pages</label>
                        <select class="form-control" id="numPages" required>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <!-- Add more options as needed -->
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="deadline">Deadline (days)</label>
                        <select class="form-control" id="deadline" required>
                            <option value="10">10 days</option>
                            <option value="9">9 days</option>
                            <option value="8">8 days</option>
                            <option value="7">7 days</option>
                            <option value="6">6 days</option>
                            <option value="5">5 days</option>
                            <option value="4">4 days</option>
                            <option value="3">3 days</option>
                            <option value="2">2 days</option>
                            <option value="1">1 day</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="totalPrice">Total Price</label>
                        <input type="text" class="form-control" id="totalPrice" readonly>
                       <div class="text-center"> 
                           <a class="btn btn-lg ml-auto btn-custom2" href="{% url 'order_form' %}">Proceed to Order</a>
                       </div>
                    </div>
                </form>
            </div>
            </div>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-md-12 d-none d-md-block">
            <div class="proceed-to-order pt-3 pb-3">
                <div class="row">
                    <div class="col-md-8 "><p class="text-white ml-5 pt-2">Do you want to Proceed to Order</p></div>
                    <div class="col-md-4">
                        <button class="btn btn-outline-custom ml-5"><span>Order Now</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}