{% extends 'base.html' %}

{% block content %}
<div class="services-banner">
    <div class="row mx-0">
        <div class="col-md-6 col-sm-12 col-xs-12 col-12">
            <p>Your <span style="  background-color: #1fa59e; border-radius: 10px;">One-Click Hub</span><br> for Every Assignment,<br> Any Subject</p>
            <p class="mx-5">Get expert research assistance with just one click! Whatever the subject or project, we make it easy and straightforward to receive professional help.</p>
        </div>
        <div class="col-md-6 d-none d-md-block">
            <img src="{{ MEDIA_URL }}/media/images/service_banner.png" class="img-fluid aboutus-banner" alt="Banner">
        </div>
    </div>
</div>
{% endblock %}