{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="contactus_banner">
    <img src="{{ MEDIA_URL }}/media/images/contactus.png" class="img-fluid" alt="Contact Us">
    <div class="contactus_content">
        <h1>Contact US</h1>
    </div>
</div>

 <!-- Contact Information Section -->
 <div class="contact-info-section">
    <h2>Our Contact Information</h2>
    <p><i class="fas fa-map-marker-alt"></i> <strong>Address:</strong> 221B Baker Street, London NW1 6XE, United Kingdom</p>
    <p><i class="fas fa-phone"></i> <strong>Phone:</strong> <a href="tel:+447587282452">+44 7587 282452</a></p>
    <p><i class="fas fa-envelope"></i> <strong>Email:</strong> <a href="mailto:urbanresearchservice@gmail.com">urbanresearchservice@gmail.com</a></p>
    <p><i class="fas fa-clock"></i> <strong>Office Hours:</strong> Monday - Friday, 9:00 AM - 5:00 PM</p>
</div>

<div class="map-section mx-5">
    <h3>Find Us Here:</h3>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d993.211618866767!2d-0.16074196429811854!3d51.523767863746446!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761b200fa5ef95%3A0xb4000c1e1717eeb0!2s221B%20Baker%20St%2C%20Marylebone%2C%20London%20NW1%206XE%2C%20United%20Kingdom!5e0!3m2!1sen!2sus!4v1693842916114!5m2!1sen!2sus"
        width="100%"
        height="300"
        style="border:0;"
        allowfullscreen=""
        loading="lazy">
    </iframe>
</div>
<style>
    body{
        background-color: rgb(196, 192, 192, 0.3);
    }
</style>
<div class="contact-page mt-5">
    <div class="contact-header">
        <h1>Contact Us</h1>
        <p>We'd love to hear from you! Please send us your message and we'll get back to you as soon as possible.</p>
    </div>
    <form action="{% url 'contactus' %}" method="post">
        {% csrf_token %}
        <div class="form-group contact-form-group">
            <label for="email">Email Address:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group contact-form-group">
            <label for="message">Your Message:</label>
            <textarea id="message" name="message" required></textarea>
        </div>
        <div class="form-group contact-form-group">
            <button type="submit">Send Message</button>
        </div>
    </form>
</div>
{% endblock %}