{% extends 'base.html' %}

{% block content %}
{% load static%}
<div class="gp-banner">
    <h2 class="text-white">Guarantee</h2>
</div>

<div class="guarantee-container">
    <section class="guarantee-section">
        <h2>Customer Satisfaction Guarantee</h2>
       <p>At Urban Research, your satisfaction is our top priority. We are committed to delivering high-quality dissertation, coursework, and assignment writing services that help our clients achieve their academic and professional goals.</p>
        <p>We take pride in our writing skills, and our commitment to excellence sets us apart from others in the industry. Below, we outline the features we proudly guarantee to ensure your satisfaction.</p>
    </section>

    <section class="guarantee-section">
        <h2>Guaranteed Services</h2>
        <p>Urban Research is dedicated to upholding the highest quality standards and delivering exceptional results. To ensure customer satisfaction, we offer the following guarantees:</p>
        <ol>
           <li><strong>Unlimited Revisions: </strong>We offer unlimited revisions within the original order instructions. If you are not satisfied with the completed work, we will revise it until it meets your expectations. Please note that if the submission deadline passes due to multiple revisions, we will not be held responsible for any claims.</li>
           <li><strong>Grade Assurance: </strong>If you do not achieve passing grades according to the selected academic level, you may claim a refund within 14 days. Our Quality Assurance Team will review the case, and if the claim is deemed valid, a refund will be considered. The reimbursement percentage will be determined by the final decision of the Quality Assurance Team.</li>
           <li><strong>Plagiarism-Free Guarantee: </strong>We guarantee that all work is free from high levels of plagiarism. If you find a significant percentage of plagiarism in the completed work, you can inform us and claim a refund. Claims must be made within 7 days after the deadline of the task.</li>
           <li><strong>Refund Policy:</strong> In the case of a valid refund claim, Urban Research will issue up to 70% of the actual amount, taking into account processing charges. If a refund is requested after the work has been delivered within the given deadline, the customer will not be eligible for a refund.</li>
           <li><strong>No Guarantee on Grades:</strong>While we strive to produce high-quality work, we do not guarantee specific grades. However, we are committed to providing the best possible assistance to help you succeed.</li>
        </ol>
    </section>

    <section class="guarantee-section">
        <h2>Unlimited Revisions</h2>
        <p>Urban Research’s core goal is customer satisfaction. If any errors or deviations from the topic are found in the completed work, you are welcome to request unlimited revisions.</p>
        <p>Please provide concise instructions for revisions within 20 days after the work is completed. For tasks containing more than 5,000 words, the revision period is extended to 40 days, and for dissertations or theses, up to 60 days. Additional charges may apply if a writer change is requested after multiple revisions.</p>
        
    </section>
    
    <section class="guarantee-section">
        <h2>Money-Back Guarantee</h2>
        <p>We offer a full refund if we fail to deliver the work within the given deadline. If an extension is required and the customer does not agree to it, they can claim a full refund (90% of the total amount).</p>
        <p>Refund claims must be made through a standardized channel, and the customer must respond to email inquiries and provide relevant proofs within 10 days. Urban Research reserves the right to cancel any irrelevant refund claims after analyzing the facts.</p>
    </section>

    <section class="guarantee-section">
        <h2>Guarantee on Quality</h2>
        <p>Urban Research is committed to producing high-quality work and providing all possible assistance. While we cannot guarantee specific grades, we ensure that our work is plagiarism-free and meets the highest standards of academic writing. Our writers are highly qualified in their respective fields and dedicated to delivering exceptional results.

        </p>
    </section>
</div>

<div>
    <div class="row">
        <div class="col-md-12 d-none d-md-block">
            <div class="proceed-to-order pt-3 pb-3">
                <div class="row">
                    <div class="col-md-8 "><p class="text-white ml-5 pt-2">Do you want to Proceed to Order</p></div>
                    <div class="col-md-4">
                        <button class="btn btn-outline-custom ml-5"><span>Order Now</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
    </div>
</div>
{% endblock %}